.save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 203, 214);
  height: 100vh;
}

.save-card-container {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 360px;
  position: relative;
}

.save-heading {
  color: rgb(91, 138, 168);
  font-size: 32px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.save-inputs {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgb(195, 189, 189);
  outline-color: rgb(82, 137, 171);
  color: rgb(58, 55, 55);
}

.save-button {
  padding: 10px;
  width: 75%;
  font-size: 18px;
  border-radius: 50px;
  background-color: rgb(91, 138, 168);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  margin-inline-start: 35px;
}

.save-button:hover {
  background-color: rgb(75, 122, 152);
}

.save-button:active {
  transform: scale(0.97);
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(91, 138, 168);
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 365px) {
  .save-card-container {
    width: 100%;
    padding: 20px;
    
  }
  .save-heading {
    font-size: 26px;
  }

  .save-inputs {
    font-size: 16px;
    padding: 8px;
  }

  .save-button {
    width: 100%;
    font-size: 16px;
    margin-inline-start: 0;
  }

  .close-button {
    top: 5px;
    right: 5px;
  }
}
