<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus earum id
consectetur ex. Consequatur aspernatur vel animi, ullam quasi veritatis. Vel
animi ipsum delectus recusandae eos? Repellendus doloribus quaerat adipisci
facilis iusto, aut amet officiis, consectetur cum commodi officia temporibus
fugiat doloremque fugit molestiae tempore debitis! Cupiditate velit harum vitae? -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todox</title>
    
    <!-- Link to dynamically loaded CSS -->
    <link rel="stylesheet" href="{{ main_css }}">
</head>
<body>
    <div id="root"></div>

    <!-- Load React JS -->
    <script src="{{ main_js }}"></script>
</body>
</html>
